html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

main {
  flex-basis: 200px;
  flex-grow: 2;
}
nav {
  margin: 0 auto;
}

header, footer {
  width: 100%;
  background-color: #ff8300;
  display: flex;
  flex-basis: 40px;
}

header h1 {
  color: #fff;
}
